<div class="container">
  <h1>Welcome to URL Shortener!</h1>
  <form action="/urls" method="post">
    <input type="text" name="long_url"></input>
    <input type="submit" value="Shorten it!"></input>
  </form>
  <% if @short %>
    <p> Your shortened url is: <a href= "/<%= @short %>"> <%= @short %> </a> </p>
  <% end %> 
</div>
